@model List<Testimonials>
﻿<section class="section-padding pb-0" id="reviews">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <h2 class="text-center mb-lg-5 mb-4">Our Patients</h2>

                <div class="owl-carousel reviews-carousel" style="display:inherit">
                    @foreach (var item in Model)
                    {
                        <figure class="reviews-thumb d-flex flex-wrap align-items-center rounded">
                            <div class="reviews-stars">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= item.Rating) // Veritabanından gelen değer
                                    {
                                        <i class="bi-star-fill"></i> <!-- Dolu yıldız -->
                                    }
                                    else
                                    {
                                        <i class="bi-star"></i> <!-- Boş yıldız -->
                                    }
                                }
                            </div>

                            <p class="text-primary d-block mt-2 mb-0 w-100"><strong>@item.Title</strong></p>

                            <p class="reviews-text w-100">@item.Text</p>

                            <img src="~/images/reviews/@item.Image" class="img-fluid reviews-image" alt="">

                            <figcaption class="ms-4">
                                <strong>@item.Name</strong>
                                <span class="text-muted">@item.Surname</span>
                            </figcaption>
                        </figure>
                    }


                    
             

                </div>
            </div>

        </div>
    </div>
</section>
